/* styles.css */
.menu-items {
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.menu-items-enter {
    opacity: 0;
    transform: scale(0.95);
}

.menu-items-enter-active {
    opacity: 1;
    transform: scale(1);
}

.menu-items-exit {
    opacity: 1;
    transform: scale(1);
}

.menu-items-exit-active {
    opacity: 0;
    transform: scale(0.95);
}
